<h1 style="text-align: center">{{ title }}</h1>

<br>
<br>

<form class="form-group row" style="width: 85%; margin: auto;">
  <div class="form-group col-md-3">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" [(ngModel)]="cuadroNombre" />
  </div>
  <div class="form-group col-md-3">
    <label for="nombre">Apellido:</label>
    <input type="text" name="apellido" id="apellido" [(ngModel)]="cuadroApellido">
    </div>
  <div class="form-group col-md-3">
    <label for="nombre">Cargo:</label>
    <input type="text" name="cargo" id="cargo" [(ngModel)]="cuadroCargo">
    </div>
  <div class="form-group col-md-3">
    <label for="nombre">Salario:</label>
    <input type="number" name="salario" id="salario" [(ngModel)]="cuadroSalario">  
  </div>
  <div class="form-group col-md-3" style="margin-top: 2% ;">
    <input type="submit" value="Añadir" style="width: 20%;" (click)="addEmpleado()"/>
  </div>
</form>
<br><br>

<app-empleado-hijo *ngFor="let empleado of empleados; let i = index" [empleadoDeLista]="empleado" [indice]="i" ></app-empleado-hijo>


